body {
  background-color: rgb(239, 199, 139);
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: large;
}

img {
  width: 60%;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: 25px auto;
}
footer {
  display: block;
  text-align: center;
  padding: 40px auto;
}
footer a {
  margin: 0 20px;
}
